<h3 class="pt-5">Our Offers</h3>
<form class="form-group">
  <div class="row d-flex align-items-center">
    <div class="col-md-6">
      <input name="inputt"[(ngModel)]="value" type="search" class="form-control" placeholder="Search By Entreprise">
    </div>
    <div class="col-md-2"> <button class="btn btn-primary" (click)="calcBilant()">Get Bilan</button></div>
    <div class="col-md-2" ><h5>{{bilan}}</h5></div>
  </div>
</form>




<div *ngFor="let emploi of listEmploi">
  <div *ngIf="emploi.entreprise.startsWith(value) || !value">
  <div class="card m-3 " style="width: 40%;">
    <div class="card-body">
      <h5 class="card-title">{{emploi.titre}}</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">Entreprise : {{emploi.entreprise}}</h6>
      <div class="m-1" >
        <button type="button" class="btn btn-success m-1" [disabled]="!emploi.etat">Postuler</button>
        </div>
        </div>
    </div>
  </div>
  </div>




